@import 'antd/dist/antd.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.app {
    padding: 0 215px;
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;

}

.container {
    background-color: #FFFFFF;
    max-width: 1010px;
    width: 100%;
    /* margin: 0 auto; */
    /* padding: 0 2rem 2rem; */
}